.nodecore.json
.nodecore.js
.nodecore.ts
.nodecore
triggers.json
./triggers.json

dist/
node_modules/
test.js
.pidfile

./package-lock.json
package-lock.json
yarn.lock
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

nodecore_logs
